img {
  display: inline-block;
  max-width: 100%;
  height: 50px;
}

body {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  background: #fae8e0;
  color: #b6e2d3;
}
/* UTILITIES */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {
 font-family: 'Amatic SC', cursive;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}
/* NAVBAR STYLING STARTS */
.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 30px;
 background-color: #ef7c83;
 color: #ef7c83;
}
.nav-links a {
 color: #f9eac2;
}
/* LOGO */
.logo {
  color: #b6e2d3;
 font-size: 32px;
}
/* NAVBAR MENU */
.menu {
  color: #ef7c83;
 display: flex;
 gap: 1em;
 font-size: 18px;
}
.menu li:hover {
 background-color: #ef7c8e;
 border-radius: 5px;
 transition: 0.3s ease;
}
.menu li {
  color: #ef7c8e;
 padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
 position: relative; 
}
.dropdown {
 background-color: #ef7c8e;
 padding: 1em 0;
 position: absolute; 
 display: none;
 border-radius: 8px;
 top: 35px;
}
.dropdown li + li {
 margin-top: 10px;
}
.dropdown li {
 padding: 0.5em 1em;
 width: 8em;
 text-align: center;
}
.dropdown li:hover {
 background-color: #9a9447;
}
.works:hover .dropdown {
 display: block;
}
